.banner {
  background-size: cover;
  height: 550px;
  border-style: solid;
  border-color: rgb(76, 0, 0);
  
}
#mtitle {
  padding-top: 330px;
  background-color: transparent;
  margin-left: 5px;
}
.overview {
  padding-top: 20px;
  width: 400px;
  background-color: transparent;
  margin-left: 5px;
}
